body {
  font-family: 'Poppins', sans-serif; 
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#2b2e43;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-header {
  margin-top: -30px;
  padding: 40px
}

.Title-header {
  font-family: system-ui;
  font-size: 40px;
  color: white;

}

.Image-header {
  position: absolute;
  width: 2.2%;
  top: 22px;
  left: 620px;
}

.Group {
  padding: 10px;
  margin-left: 350px;
  margin-right: 350px;
}


.form__group {
  position: relative;
  padding: 5px;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
}

.form__field {
  font-family: inherit;
  width: 70%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 3s;
}

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
 }

 .Button {
  color: white;
  background-color: #f4511e;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1;
  margin: 15px;
  padding: 8px 32px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.Button:hover {
  opacity: 1;
}

.todo-list {

  margin-left: 540px;
  margin-right: 400px;
}

.Task {
  display: flex;
}

.Item {
  background-color: #484c69;
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0), 0 2px 15px 0 rgb(0, 0, 0);
  text-shadow: 1px 1px 3px #000000;;
  transition: 0.5s;
  width: 500%;

}

.Item:hover {
  cursor: pointer;
  color: red;
}

.Options {
  display: flex;
}

.Correct-icon {
  width: 20%;
  margin: 10px;
}

.Wrong-icon {
  width: 16%;
}
