body {
  font-family: 'Poppins', sans-serif; 
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 190, 1) 0%,
    rgba(100, 115, 190, 1) 100%
  );
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #2b2e43;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #2b2e43;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 11px;
    border: 7px none #2b2e43;
  }

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-header {
  margin-top: -30px;
  padding: 40px
}

.Title-header {
  font-family: system-ui;
  font-size: 40px;
  color: white;

}

.Image-header {
  position: absolute;
  width: 2.2%;
  top: 22px;
  left: 620px;
}

.Group {
  padding: 10px;
  margin-left: 350px;
  margin-right: 350px;
}


.form__group {
  position: relative;
  padding: 5px;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
}

.form__field {
  font-family: inherit;
  width: 70%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 3s;
}

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #d24f3e,#993c2f);
  border-image-slice: 1;
 }

 .Button {
  color: white;
  background-color: #f4511e;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1;
  margin: 15px;
  padding: 8px 32px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.Button:hover {
  opacity: 1;
}

.todo-list {

  margin-left: 540px;
  margin-right: 400px;
}

.Task {
  display: flex;
}

.Task:hover .Options{
  position: relative;
  animation: mine 1s forwards;
}

@keyframes mine {
  100%  {left: 0px; right: 50px;}
}

.Item {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  color: white;
  margin: 10px;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0), 0 2px 15px 0 rgb(0, 0, 0);
  text-shadow: 1px 1px 3px #000000;;
  transition: 0.5s;
  width: 500%;

}

.Task-done {
  background: linear-gradient(
    90deg,
    rgb(148, 148, 148) 0%,
    rgb(58, 58, 58) 100%
  );
}

.Item:hover {
  cursor: pointer;
}

.Options {
  display: flex;
  position: relative;
  left: -100px;
}


.Correct-icon {
  width: 20%;
  margin: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

.Correct-icon:hover {
  opacity: 1;
}


.Wrong-icon {
  width: 16%;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
}

.Wrong-icon:hover {
  opacity: 1;
}

.Button-clear {
  position: fixed;
  cursor: pointer;
  bottom: 10px;
  right: 700px;
  left: 700px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: transparent;
  margin: 0px;
  transition: 0.5s;
}

.Button-clear:hover {
  background-color: rgb(42, 231, 238);
  color: black;
}

